body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

#splash {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: bold;
}

.hidden {
  display: none;
}

header {
  padding: 10px;
  background: #020617;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  background: #020617;
  color: white;
  border: 1px solid #334155;
  padding: 5px;
}

nav {
  display: flex;
  background: #020617;
}

nav button {
  flex: 1;
  background: none;
  border: none;
  color: white;
  padding: 12px;
  font-size: 16px;
}

.tab {
  display: none;
  padding: 15px;
}

.tab.active {
  display: block;
}

button {
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #2563eb;
  color: white;
  font-size: 15px;
}

textarea {
  width: 100%;
  height: 120px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

pre {
  white-space: pre-wrap;
  background: #020617;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
